*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-size: 0.2rem;
}
i{
	font-style: normal;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
em{
	font-style: normal;
}
input {outline:medium;}
input::-webkit-input-placeholder{
	color: #999;
}    /* 使用webkit内核的浏览器 */
input:-moz-placeholder{
	color: #999;
}                  /* Firefox版本4-18 */
input::-moz-placeholder{
	color: #999;
}                  /* Firefox版本19+ */
input:-ms-input-placeholder{
	color: #999;
}
.clear{
	clear: both!important;
}
 /*----------首页的样式--------*/
.index{
	background: #fbf8ff;
	position: relative;
	padding-bottom: 1rem;
}
.shop_list{
	width: 100%;
	height:2.34rem;
	background: #fff;
	margin-bottom: 0.3rem;
	padding: 0 0.3rem;
	border:1px solid #e5e5e5;
	border-left:0;
	border-right: 0;
}
.shop_list_mess{
	height: 1.45rem;
	border-bottom: 1px solid #e5e5e5;
	padding-top: 0.3rem;
}
.shop_list p{
	font-size: 0.3rem;
	color:#333;
	line-height:0.5rem;
}
.shop_list p i{
	font-size: 0.24rem;
	color:#666;
	float: right;
}
.shop_list_status li{
	font-size: 0.26rem;
	color:#666;
	float: right;
	line-height: 0.84rem;
}
.shop_list_status li:nth-of-type(1){
	float: left;
}
.shop_status_shanchu i{
	width: 0.32rem;
	height: 0.35rem;
	display: block;
	background: url(img/icon.png) no-repeat -5.76rem -1.44rem;
	background-size: 8.64rem;
	float: left;
	margin: 0.26rem 0.1rem 0 0.4rem;
}
.shop_status_xiugai i{
	width: 0.35rem;
	height: 0.34rem;
	display: block;
	background: url(img/icon.png) no-repeat -4.32rem -1.44rem;
	background-size: 8.64rem;
	float: left;
	margin: 0.26rem 0.1rem 0 0.4rem;
}
.shop_status_shenhe i{
	width: 0.35rem;
	height: 0.33rem;
	display: block;
	/*background: pink;*/
	float: left;
	margin: 0.26rem 0.1rem 0 0;
}
.shenhezhong{
	width: 0.35rem;
	height: 0.33rem;
	display: block;
	background: url(img/icon.png) no-repeat 0 -1.44rem;
	background-size: 8.64rem;
	float: left;
	margin: 0.26rem 0.1rem 0 0;
}
.shenhetongguo{
	width: 0.35rem;
	height: 0.33rem;
	display: block;
	background: url(img/icon.png) no-repeat -1.44rem -1.44rem;
	background-size: 8.64rem;
	float: left;
	margin: 0.26rem 0.1rem 0 0;
}
.shenheshibai{
	width: 0.35rem;
	height: 0.33rem;
	display: block;
	background: url(img/icon.png) no-repeat -2.88rem -1.44rem;
	background-size: 8.64rem;
	float: left;
	margin: 0.26rem 0.1rem 0 0;
}
.footer{
	width: 7.5rem;
	height:1.2rem;
	background: #fff;
	padding: 0.2rem;
	position: fixed;
	bottom: 0;
	left: 0;
 }
.footer p{
	width: 6.9rem;
	height: 0.8rem;
	background: #083680;
	color: #fff;
	text-align: center;
	line-height: 0.8rem;
	margin: auto;
	border-radius: 0.05rem;
	font-size: 0.36rem;
	font-weight:200;
}
.clear{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	display: none;
}
.clear_con{
	padding:0.8rem 0.4rem 0;
	width: 6.3rem;
	height: 3.2rem;
	background: #fff;
	border-radius: 0.05rem;
	position: fixed;
	left: 0.6rem;
	top:5rem;
	text-align: center;
}
.clear_con p{
	font-size:0.36rem;
	color: #333;
}
.clear_con button{
	width: 2.4rem;
	height: 0.72rem;
	border: 1px solid #666;
	border-radius: 0.05rem;
	background: #fff;
	font-size: 0.3rem;
	color: #666;
}
.clear_con button:nth-of-type(2){
	background: #083680;
	color: #fff;
}
/*----------审核页的样式--------*/
.review{
	text-align: center;
}
.review .icon,.review .shenhetongguo_R{
	width: 1.44rem;
	height: 1.44rem;
	background: url(img/icon.png) no-repeat -1.44rem 0;
	background-size: 8.64rem;
	margin:1.2rem auto 0.5rem;
}
.review .shenhezhong_R{
	width: 1.44rem;
	height: 1.44rem;
	background: url(img/icon.png) no-repeat 0 0;
	background-size: 8.64rem;
	margin:1.2rem auto 0.5rem;
}
.review .shenheshibai_R{
	width: 1.44rem;
	height: 1.44rem;
	background: url(img/icon.png) no-repeat -2.88rem 0;
	background-size: 8.64rem;
	margin:1.2rem auto 0.5rem;
}
.review h4{
	font-size: 0.42rem;
	color: #333;
	margin-bottom: 0.8rem;
	font-weight: 600;
}
.review p{
	font-size: 0.3rem;
	color: #333;
	line-height: 0.5rem;
}
.review .repush{
	border-radius: 0.05rem;
	width: 5.7rem;
	height: 0.9rem;
	text-align: center;
	line-height: 0.9rem;
	color: #fff;
	font-size: 0.36rem;
	margin: 1.6rem auto 0;
	background: #083680;
	font-weight: 200;
}
.review button{
	border: 1px solid #666;
	border-radius: 0.05rem;
	width: 5.7rem;
	height: 0.9rem;
	text-align: center;
	line-height: 0.9rem;
	color: #666;
	font-size: 0.36rem;
	margin-top: 0.6rem;
	background: #fff;
}
/*----------详情页的样式--------*/
.detail>p{
	width: 100%;
	height: 1rem;
	background: rgba(8,54,128,0.1);
	font-size: 0.36rem;
	color: #333;
	line-height: 1rem;
	padding-left: 0.3rem;
	clear: both;
}
.detail .basemess{
	padding: 0.4rem 0.3rem 0;
}
.detail .basemess>p,.detail .rentmess>p,.detail .peoplemess>p{
	width: 100%;
	height: 0.8rem;
	margin-bottom: 0.4rem;
}
.detail .em1{
	width: 5.4rem;
	height: 0.8rem;
	float: right;
	border: 1px solid #999;
	position: relative;
	color: #999;
}
.detail .em1 input{
	width: 5.36rem;
	height: 0.76rem;
	background: #fff;
	border: none;
	text-indent: 0.24rem;
}
.detail p i,.i{
	font-size: 0.3rem;
	color: #666;
	position: relative;
	top:0.2rem;
	left: 0;
	float: left;
}
.detail .basemess ul p{
	position: relative;
}
.detail .basemess ul p span{
	width: 0.2rem;
	height: 0.2rem;
	font-size: 0.2rem;
	display: block;
	position: absolute;
	right: 0.5rem;
	top:0;
}
.detail .basemess p i span{
	width: 0.2rem;
	height: 0.2rem;
	font-size: 0.2rem;
	display: block;
	position: absolute;
	right: -0.2rem;
	top:0;
}
.detail .basemess p .em3{
	width: 1.6rem;
	height: 0.8rem;
	float: left;
	border: 1px solid #999;
	margin-left: 0.3rem;
	text-indent: 0.24rem;
	line-height: 0.8rem;
	color: #999;
	position: relative;
}
.detail .basemess p .em2{
	width: 2.55rem;
	height: 0.8rem;
	border: 1px solid #999;
	float: left;
	margin-left: 0.3rem;
	position: relative;
}
.detail .basemess p .em3 span,.detail .basemess p .em1 span{
	width: 0.2rem;
	height: 0.15rem;
	display: block;
	background: url(img/icon.png) no-repeat 0 -2.88rem;
	background-size: 8.64rem;
	position: absolute;
	right: 0.1rem;
	top: 0.3rem;
}
.detail .basemess p .em11{
	line-height: 0.8rem;
	text-indent: 0.24rem;
}
.detail .basemess p .em2 input{
	width: 2.46rem;
	height: 0.76rem;
	text-indent: 0.24rem;
}
.detail .basemess ul p,.detail .basemess ul li,.detail .projectmess li{
	width: 2.2rem;
	height: 0.8rem;
	float: left;
	border: 1px solid #999;
	margin-bottom: 0.15rem;
}
.detail .basemess ul p{
	border: none;
	font-size: 0.3rem;
	color: #666;
}
.detail .basemess ul li,.detail .projectmess li{
	text-align: center;
	line-height: 0.8rem;
	color: #999;
	position: relative;
}
.detail .basemess ul li i,.detail .projectmess li i{
	width: 0.32rem;
	height: 0.3rem;
	display: block;
	background: url(img/icon.png) no-repeat -1.44rem -2.88rem;
	background-size: 8.64rem;
	position: absolute;
	top:0.24rem;
	left: 0.1rem;
}
.detail .basemess ul li:nth-of-type(3n+1),.detail .projectmess li:nth-of-type(3n+2){
	margin: 0 0.15rem 0.15rem;
}
.detail .basemess ul li:last-child,.detail .projectmess li:last-child{
	margin-bottom: 0.4rem;
}
.detail .buildmess{
	padding: 0.4rem 0.3rem 0;
}
.detail .buildmess li{
	width: 3.27rem;
	height: 0.8rem;
	color: #999;
	float: left;
	margin-bottom: 0.4rem;
	line-height: 0.76rem;
}
.detail .buildmess li i{
	font-size: 0.3rem;
	color: #666;
}
.detail .buildmess li:nth-of-type(2n+1){
	margin-right: 0.36rem;
}
.detail .buildmess li em{
	width: 1.28rem;
	height: 0.8rem;
	border: 1px solid #999;
	float: right;
}
.detail .buildmess li em input{
	width: 1.24rem;
	height: 0.76rem;
	border: none;
	text-indent: 0.24rem;
}
.detail .rentmess{
	padding: 0.4rem 0.3rem 0;
}
.detail .rentmess ul{
	height: 3.6rem;
}
.detail .rentmess li{
	width: 3.3rem;
	height: 0.8rem;
	color: #999;
	float: left;
	margin-bottom: 0.4rem;
	line-height: 0.76rem;
}
.detail .rentmess li i{
	font-size: 0.3rem;
	color: #666;
}
.detail .rentmess li:nth-of-type(2n+1){
	margin-right: 0.3rem;
}
.detail .rentmess li em{
	width: 1.3rem;
	height: 0.8rem;
	border: 1px solid #999;
	float: right;
}
.detail .rentmess li em input{
	width: 1.26rem;
	height: 0.76rem;
	border: none;
	text-indent: 0.24rem;
}
.detail .projectmess{
	padding: 0.4rem 0.3rem 0;
}
.detail>p>span{
	font-size: 0.24rem;
	color: #666;
	margin-left: 2.5rem;
}
.detail .aroundmess{
	padding: 0.6rem 0.3rem 0;
}

.detail .aroundmess ul{
	height: 2.3rem;
	width: 28rem;
}
.detail .aroundmess ul li{
	width: 1.38rem;
	height: 100%;
	float: left;
	text-align: center;
}
.detail .aroundmess ul li i{
	width: 0.92rem;
	height: 0.8rem;
	display: block;
	background: url(img/icon.png) no-repeat -4.32rem 0;
	background-size: 8.64rem;
	margin: 0 auto 0.4rem;
}
.detail .aroundmess ul li:nth-of-type(3) i{
	background: url(img/icon.png) no-repeat -5.76rem 0;
	background-size: 8.64rem;
}
.detail .aroundmess ul li:last-child i{
	background: url(img/icon.png) no-repeat -7.2rem 0;
	background-size: 8.64rem;
}
.detail .aroundmess ul li h6{
	color: #999;
	font-size: 0.24rem;
	font-weight: 300;
}
.detail .aroundmess ul li:nth-of-type(3) h6{
	color: #083680;
}
.detail .aroundmess p{
	width: 100%;
	height: 0.8rem;
	border: 1px solid #999;
	line-height: 0.8rem;
	text-indent: 0.24rem;
	color: #999;
	margin-bottom: 0.4rem;
	position: relative;
}
.detail .aroundmess p span{
	width: 0.2rem;
	height: 0.15rem;
	display: block;
	background: url(img/icon.png) no-repeat 0 -2.88rem;
	background-size: 8.64rem;
	position: absolute;
	right: 0.1rem;
	top: 0.3rem;
}
.detail .aroundmess h4{
	width: 100%;
	height: 0.8rem;
	border: 1px solid #999;
	line-height: 0.8rem;
	text-indent: 0.24rem;
	color: #999;
	margin-bottom: 0.4rem;
	font-weight: 400;
}
.detail .aroundmess button{
	width: 3.3rem;
	height: 0.8rem;
	border: 1px solid #999;
	text-align: center;
	line-height: 0.8rem;
	background: #ffffff;
	box-sizing: border-box;
}
.detail .aroundmess button:nth-of-type(1){
	border: 1px solid transparent;
	background: #083680;
	color: #ffffff;
	margin:0 0.2rem 0.4rem 0;
}
.detail .peoplemess{
	padding: 0.4rem 0.3rem 0;
}
.detail .peoplemess ul{
	height: 2.4rem;
}
.detail .peoplemess li{
	width: 3.27rem;
	height: 0.8rem;
	color: #999;
	float: left;
	margin-bottom: 0.4rem;
	line-height: 0.76rem;
}
.detail .peoplemess li i{
	font-size: 0.3rem;
	color: #666;
}
.detail .peoplemess li:nth-of-type(2n+1){
	margin-right: 0.36rem;
}
.detail .peoplemess li em{
	width: 1.28rem;
	height: 0.8rem;
	border: 1px solid #999;
	float: right;
}
.detail .peoplemess li em input{
	width: 1.24rem;
	height: 0.76rem;
	border: none;
	text-indent: 0.24rem;
}
.detail .imgmess{
	padding: 0.4rem 0.3rem;
	overflow: hidden;
}
.detail .imgmess .pics{
	width: 1.6rem;
	height: 1.6rem;
	background: url(img/icon.png) no-repeat -2.88rem -2.88rem;
	background-size: 8.64rem;
	position: relative;
	float: left;
}
.detail .imgmess .pics input{
	width: 100%;
	height:100%;
	position: absolute;
	left:0;
	top:0;
	opacity: 0;
}
.detail .mapmess{
	width: 100%;
	height: 0.7rem;
	padding: 0.4rem 0.3rem 0;
}
.detail .mapmess i{
	width: 0.33rem;
	height: 0.33rem;
	display: block;
	background: url(img/icon.png) no-repeat -7.2rem -1.44rem;
	background-size: 8.64rem;
	float: left;
}
.detail .mapmess span{
	color: #999;
	font-size: 0.24rem;
	margin-left: 0.2rem;
}
.detail>button{
	width: 6.9rem;
	height: 0.8rem;
	background: #083680;
	color: #ffffff;
	text-align: center;
	line-height: 0.8rem;
	border: none;
	margin: 0.8rem 0 0.8rem 0.3rem;
	border-radius: 0.05rem;
	font-size: 0.36rem;
}
.imgmess img{
	width:1.6rem;
	height:1.6rem;
	float:left;
	margin-right: 0.3rem;
	margin-bottom: 0.3rem;
}
.yb-view{
	width: 6.9rem;
	overflow-x: auto;
}
.yb-view::-webkit-scrollbar{
	width:0px
}

/*---------地图页---------*/
.map .search{
	padding: 0.4rem 0.3rem 0;
	width: 100%;
	height: 1.6rem;
	background: #fff;
}
.map .search .sousuo{
	width: 5.46rem;
	height: 0.8rem;
	border: 1px solid #666;
	float: left;
}
.map .search .sousuo input{
	width: 4.8rem;
	height: 0.76rem;
	border: none;
	text-align: center;
}
.map .search .sousuo .map_i{
	width: 0.7rem;
	height: 0.8rem;
	float: right;
	position: relative;
}
.map .search .sousuo .map_i i{
	width:0.45rem;
	height: 0.45rem;
	display: block;
	/*background: url(img/icon.png) no-repeat;
	background-size: 8.64rem;*/
	background: pink;
	position: absolute;
	top: -0.6rem;
	right: 0.18rem;
}
.map button{
	width: 1.2rem;
	height: 0.8rem;
	background: #083680;
	color: #fff;
	text-align: center;
	line-height: 0.8rem;
	font-size: 0.24rem;
	margin-left: 0.2rem;
	border: none;
}
.map .aMap{
	width: 100%;
	height: 10.4rem;
	background: red;
}